<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HospitalDB"
			 connectionString="Data Source=DESKTOP-9MQ7O2S\SQLEXPRESS;Initial Catalog=HospitalDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
